<img src="../../../../assets/images/group-30@2x.png" class="header-img w-100">
<div class="page-background d-flex mt-5" [formGroup]="details">
  <div class="col-4 mt-4">
    <div class="heading p-3">SIGN UP &<br> GET STARTED</div>
    <div class="sign-up">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error *ngIf="details.get('email').invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="details.get('name').invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" required [type]="hide ? 'password' : 'text'" />
        <button class="password-icon" mat-icon-button matSuffix (click)="hide = !hide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="details.get('password').invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <button class="primary-btn mt-3" [disabled]="!details.valid" (click)="signUp()">SIGN UP</button>
      <br>
      <p class="sign-up-btn">Already have an account? <a href="/login" class="login ml-2">SIGN IN</a></p>
    </div>
  </div>
  <div class="col-8 mt-5 px-0">
    <img src="../../../../assets/images/asset-2-3-x@2x.png" class="login-img" />
  </div>
</div>