.sign-up {
  padding: 2rem;
}
.sign-up-btn {
  margin-top: 4rem;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8c949c;
}
.login {
  font-size: 12px;
  font-weight: 500;
  color: #23c994;
}
@media screen and (max-width: 425px) and (min-width: 321px) {
  .sign-up {
    padding: 0rem;
  }
}
